<div class="services">
    <div class="services-container-2">
      <div class="service-item">
        <div class="service-item-head">
          <div class="icon" style="background-image: url('{{site.baseurl}}/assets/images/research.svg');"></div>
          <p class="service-item-number">01</p>
        </div>
        <h3>Editorial <br>Process</h3>
        <p>We research deeply, write fact-checked content, and organize articles with visual clarity and search intent in mind.</p>
      </div>
  
      <div class="service-item">
        <div class="service-item-head">
          <div class="icon" style="background-image: url('{{site.baseurl}}/assets/images/affiliate-strategy.svg');"></div>
          <p class="service-item-number">02</p>
        </div>
        <h3>Affiliate <br>Philosophy</h3>
        <p>We only partner with trusted affiliate programs that align with our readers' interests. Our focus is always transparency and trust.</p>
      </div>
  
      <div class="service-item">
        <div class="service-item-head">
          <div class="icon" style="background-image: url('{{site.baseurl}}/assets/images/growth-focus.svg');"></div>
          <p class="service-item-number">03</p>
        </div>
        <h3>Growth <br>Focus</h3>
        <p>Our platforms are built to scale. We use data, testing, and analytics to improve content, UX, and monetization continuously.</p>
      </div>
    </div>
  </div>