<div class="case-process">
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">01</div>
        </div>
        <h3>Understand the problem</h3>
        <p>First things first, before we started proposing any solutions we made sure that we understood the problem so we setup an
        interview with them so we were cleare about the users problem and the brand goals</p>
    </div>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">01</div>
        </div>
        <h3>Understand the problem</h3>
        <p>First things first, before we started proposing any solutions we made sure that we understood the problem so we setup an
        interview with them so we were cleare about the users problem and the brand goals</p>
    </div>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">01</div>
        </div>
        <h3>Understand the problem</h3>
        <p>First things first, before we started proposing any solutions we made sure that we understood the problem so we setup an
        interview with them so we were cleare about the users problem and the brand goals</p>
    </div>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">01</div>
        </div>
        <h3>Understand the problem</h3>
        <p>First things first, before we started proposing any solutions we made sure that we understood the problem so we setup an
        interview with them so we were cleare about the users problem and the brand goals</p>
    </div>
</div>