<div class="case-challenge">
    <h2>THE CHALLENGE</h2>
    <div class="content-left">
        <img src="" alt="">
    </div>
    <div class="content-right">
        <p>When OrganizeAnd members reached to us they had this idea of making accounting easier and more accessible for small
        entrepreneurs but they didn’t know where to start and if it would work or not.</p>
        <p>so what hey were sure of was the following:</p>
        <p>“It’s really hard for entrepreneurs to do it’s accounting on their own, but they want to save as much as they can
        specially when they are starting out”.</p>
    </div>
</div>