<footer>
    <div class="content-left">
      <a href="{{site.baseurl}}/" class="logo-white"></a>
      <p>Lefuse is a digital publishing network focused on wellness, supplements, and lifestyle platforms.</p>
      <div class="social-links">
        <a href="https://twitter.com/lefusenetwork" target="_blank" class="social-link twitter"></a>
        <a href="https://www.youtube.com/@lefusenetwork" target="_blank" class="social-link youtube"></a>
        <a href="https://github.com/lefusenetwork" target="_blank" class="social-link github"></a>
      </div>
    </div>
  
    <div class="columns-container">
      <div class="col">
        <h3>WHAT WE DO</h3>
        <a href="{{site.baseurl}}/what-we-do" class="btn-link">Content Strategy</a>
        <a href="{{site.baseurl}}/approach" class="btn-link">Editorial Approach</a>
        <a href="{{site.baseurl}}/about" class="btn-link">About Lefuse</a>
      </div>
      
      <div class="col">
        <h3>PARTNER</h3>
        <a href="{{site.baseurl}}/contact" class="btn-link">Affiliate Opportunities</a>
        <a href="{{site.baseurl}}/contact" class="btn-link">Sponsorships</a>
      </div>
  
      <div class="col">
        <h3>LEGAL</h3>
        <a href="{{site.baseurl}}/privacy-policy" class="btn-link">Privacy Policy</a>
        <a href="{{site.baseurl}}/terms" class="btn-link">Terms of Use</a>
      </div>
    </div>
  
    <div class="content-right">
      <a href="{{site.baseurl}}/contact" class="btn btn-cta-blue">Partner With Us</a>
    </div>
  
    <div class="rights-reserved">
      <p>Lefuse © All rights reserved {{ "now" | date: "%Y" }}</p>
    </div>
  </footer>