<footer>
    <div class="content-left">
      <a href="{{site.baseurl}}/" class="logo-white"></a>
      <p>Lefuse builds focused mobile apps that remove friction from everyday workflows.</p>
      <div class="social-links">
        <a href="https://twitter.com/lefusenetwork" target="_blank" class="social-link twitter"></a>
        <a href="https://www.youtube.com/@lefusenetwork" target="_blank" class="social-link youtube"></a>
        <a href="https://github.com/lefusenetwork" target="_blank" class="social-link github"></a>
      </div>
    </div>
  
    <div class="columns-container">
      <div class="col">
        <h3>NAVIGATION</h3>
        <a href="{{site.baseurl}}/" class="btn-link">Home</a>
        <a href="{{site.baseurl}}/products" class="btn-link">Products</a>
        <a href="{{site.baseurl}}/about" class="btn-link">About</a>
        <a href="{{site.baseurl}}/contact" class="btn-link">Support</a>
      </div>
      
      <div class="col">
        <h3>LEGAL</h3>
        <a href="{{site.baseurl}}/privacy-policy" class="btn-link">Privacy Policy</a>
        <a href="{{site.baseurl}}/terms" class="btn-link">Terms</a>
      </div>
    </div>
  
    <div class="content-right">
      <a href="{{site.baseurl}}/contact" class="btn btn-cta-blue">Contact Support</a>
    </div>
  
    <div class="rights-reserved">
      <p>&copy; 2011&ndash;{{ "now" | date: "%Y" }} Lefuse</p>
    </div>
  </footer>
