<div class="services">
    <h2>SERVICES</h2>
    <div class="services-container">
        <div class="service-item">
            <div class="icon product-design"></div>
            <p>We help you through the process of research, define, ideate,
            design and prototype your product.</p>
        </div>
        <div class="service-item">
            <div class="icon custom-development"></div>
           <p>We can help you develop your custom web app, we have a very talented team with knowledge in backend and frontend.</p>
        </div>
        <div class="service-item">
            <div class="icon ecommerce"></div>
            <p>We can help you get your online store up in no time, we also provide training on how to manage your online store.</p>
        </div>
        <div class="service-item">
            <div class="icon grow-team"></div>
            <p>We can help you grow your design and development team.</p>
        </div>
    </div>
</div>