<div class="work-item1">
    <div class="content-left">
        <img src="" alt="">
    </div>
    <div class="content-right">
        <h3>OrganizeAnt</h3>
        <p>An app to automate your accounting</p>
        <a href="#" class="btn-btn-secondary">See case study</a>
    </div>
</div>
<div class="work-item2">
    <div class="content-left">
        <h3>OrganizeAnt</h3>
        <p>An app to automate your accounting</p>
        <a href="#" class="btn-btn-secondary">See case study</a>
    </div>
    <div class="content-right">
        <img src="" alt="">
    </div>
</div>