@import 'colors.sass'

.topbar
    align-items: center
    display: flex
    justify-content: space-between
    padding: 1em 5em
    width: 100%
    .btn-link
        margin-left: 1.5em
    .active
        text-decoration: underline
    .btn-action
        margin-left: .5em
    .nav
        align-items: center
        display: flex
        .btn-link
            color: $text
    .navbar-toggler-container
        align-items: center
        border-radius: 4px
        cursor: pointer
        display: none
        height: 2.5em
        justify-content: center
        width: 2.5em
        img
            height: auto
            width: 100%

    @media only screen and (max-width: 1035px)
        padding: 1em
        .nav
            background-color: #fff
            border-bottom-left-radius: 3px
            border-bottom-right-radius: 3px
            display: none
            flex-flow: column
            left: 0
            padding: 1em 2em
            position: absolute
            top: 4.7em
            width: 100%
            .btn-link
                border-bottom: solid 1px #efefef
                margin: 0
                text-align: center
                padding: 1em
                width: 100%
                &:focus
                    background-color: #eeeeee
                    text-decoration: none
            .active
                background-color: #efefef
                text-decoration: none
            .btn-action
                margin-top: 1em
                text-align: center
        .activated
            display: flex
        .navbar-toggler-container
            display: flex

.cover
    align-items: flex-start
    background-color: #ACF0FF
    display: flex
    padding: 7em 8em 7em 0em
    overflow: hidden
    width: 100%
    @media only screen and (max-width: 1035px)
        padding: 20px 0 0 0
        flex-wrap: wrap
    .content-left
        align-items: flex-start
        display: flex
        justify-content: flex-end
        padding-right: 5%
        width: 50%
        @media only screen and (max-width: 1035px)
            padding: 2em
            width: 100%

    .content-right
        align-items: flex-start
        display: flex
        flex-flow: column
        justify-content: flex-start
        width: 50%
        h1
            justify-content: flex-start
            margin-bottom: .5em
        .subtitle
            justify-content: flex-start
        .btn-cta
            margin-top: 1.5em

        @media only screen and (max-width: 1035px)
            align-items: center
            justify-content: center
            width: 100%

.call-to-action
    align-items: center
    background-color: $primary
    display: flex
    justify-content: center
    height: 200px
    width: 100%
    .btn
        padding: 0 4em

.services
    display: flex
    flex-flow: column
    padding: 5em 5em 7em 5em
    width: 100%
    .services-container
        align-items: flex-start
        display: flex
        justify-content: center
        padding: 5em 3em 3em 3em
        .service-item
            align-items: center
            border: solid 1px #000000
            display: flex
            height: 405px
            flex-flow: column
            padding: 1.5em
            width: 33%
            .service-item-head
                align-items: flex-start
                display: flex
                justify-content: space-between
                width: 100%
                .icon
                    background-position: center
                    background-repeat: no-repeat
                    background-size: contain
                    display: block
                    height: 94px
                    width: 94px
                .service-item-number
                    color: #C4C4C4
                    font-family: Arial
                    font-style: normal
                    font-weight: bold
                    margin: 0
                    font-size: 29px
                    line-height: 33px
            h3
                margin-top: 1em
            p
                margin-top: 1em

footer
    align-items: center
    background: #053645
    display: flex
    flex-flow: column
    justify-content: flex-start
    padding: 6em 8em 6em 8em
    width: 100%
    @media only screen and (max-width: 1035px)
        padding: 4em 1em
    .footer-logo
        margin-bottom: 2em
    .footer-container
        display: flex
        justify-content: center
        @media only screen and (max-width: 1035px)
            flex-wrap: wrap
        .footer-col
            align-items: center
            display: flex
            flex-flow: column
            padding: 0 1em 1em 1em
            text-align: center
            width: 200px
    a
        color: #E0E0E0
        &:hover
            color: #E0E0E0

    p
        color: #E0E0E0
    .social-links
        align-items: center
        display: flex
        margin-top: 1em
        .social-link
            background-position: 0 0
            background-repeat: no-repeat
            background-size: 100%
            display: block
            height: 2em
            margin: 0 1em .5em 1em
            width: 2em
        .link
            color: $primary
            text-decoration: underline
        .linkedin
            background-image: url('../../assets/images/linkedin.svg')
        .facebook
            background-image: url('../../assets/images/facebook.svg')
        .instagram
            background-image: url('../../assets/images/instagram.svg')
    .accent
        color: #58C0B7
    .gwa
        height: auto
        margin-top: 1em
        width: 4em
.locations-container
    align-items: center
    display: flex
    justify-content: flex-start
    flex-flow: column
    h2
        margin-top: 1em
        margin-bottom: 1em
    @media only screen and (max-width: 1035px)
        .subtitle
            text-align: center
            padding: 0 1em

    .location-list-item
        align-items: flex-start
        display: flex
        flex-wrap: wrap
        padding-top: 4em
        width: 100%
        .left-content
            align-items: flex-start
            display: flex
            flex-flow: column
            padding: 0 0 0 8em
            text-align: left
            width: 40%
            h3
                justify-content: flex-start
                text-align: left
            p
                align-items: flex-start
                display: flex
                flex-wrap: wrap
                justify-content: flex-start
                padding: 1em 0
                text-align: left
                width: 320px
                b
                    color: #000000
        .right-content
            padding: 0 8em 0 0
            width: 60%
            .slick-container
                .slick-slide
                    display: flex
                    justify-content: center
                    overflow: hidden
                .slick-current
                    border-radius: 30px
                    overflow: hidden
            .slick-dots li button:before
                font-size: 14px
            .slider-nav
                margin-top: .5em
                .slick-list
                    .slick-slide
                        margin: .5em
                        border-radius: 30px
                        overflow: hidden
                        width: 131px !important
            .soon
                align-items: center
                background-color: #F4F4FB
                border-radius: 30px
                display: flex
                height: 330px
                margin-bottom: 4em
                width: 100%
                justify-content: center
                h3
                    font-family: Arial, Helvetica, sans-serif
                    font-style: normal
                    font-weight: bold
                    font-size: 25px
                    line-height: 120%
                    display: flex
                    align-items: center
                    text-align: center
                    color: #828282
        $map-margin: 6em

        @media only screen and (max-width: 1035px)
            justify-content: center
            padding-top: 2em
            .left-content
                justify-content: center
                max-width: 791px
                text-align: center
                padding: 1em
                width: 100%
                h3
                    width: 100%
                p
                    width: 100%
            .right-content
                padding: 1em
                width: 100%
                .slider-nav
                    height: 150px
                    overflow: hidden
            .map
                .iframe
                    padding: 0 1em
.nosotros-container
    align-items: center
    display: flex
    justify-content: flex-start
    flex-flow: column
    h2
        margin-top: 1em
        margin-bottom: 1em
    @media only screen and (max-width: 1035px)
        .subtitle
            text-align: center
            padding: 0 1em

    $nosotros-item-margin: 40px
    .nosotros-items-container
        display: flex
        flex-flow: column
        justify-content: flex-start
        padding: 4em 0
        width: 100%
        @media only screen and (max-width: 1035px)
            padding: 1em 0

        .nosotros-item-1
            display: flex
            height: 175px
            justify-content: center
            h2
                margin-right: 1em
                text-align: right
                width: 24%
            .card
                align-items: center
                display: flex
                justify-content: center
                margin: 2.9em 1em -3em 1em
                width: 475px
            @media only screen and (max-width: 1035px)
                height: 290px
                flex-wrap: wrap
                h2
                    margin: 1em 0 0 0
                    text-align: center
                    width: 100%
                .card
                    align-items: center
                    display: flex
                    justify-content: center
                    margin: .9em 1em -3em 1em
                    width: 475px

        .nosotros-item-2
            background: #F4F4FB
            display: flex
            height: 237px
            padding-top: $nosotros-item-margin * 2
            margin-bottom: $nosotros-item-margin * 2
            overflow: visible
            justify-content: center
            h2
                margin-right: 1em
                text-align: right
                width: 24%
            .card
                align-items: center
                display: flex
                height: auto
                justify-content: center
                margin: 2.9em 1em -3em 1em
                width: 475px
            @media only screen and (max-width: 1035px)
                height: 290px
                flex-wrap: wrap
                h2
                    margin: 0
                    text-align: center
                    width: 100%
                .card
                    align-items: center
                    display: flex
                    justify-content: center
                    margin: .9em 1em -3em 1em
                    width: 475px

.contact-container
    align-items: center
    display: flex
    justify-content: flex-start
    flex-flow: column
    padding: 0 1em
    h2
        margin-top: 1em
        margin-bottom: 1em
    form
        margin-top: 3em
        width: 397px
        @media only screen and (max-width: 1035px)
            width: 100%
        label
            align-items: center
            color: #828282
            display: flex
            font-family: Arial, Helvetica, sans-serif
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 154.3%
        input
            border-radius: 10px
        textarea
            border-radius: 10px
        .btn-cta
            margin-top: 2em
            width: 100%
    .contact-details
        align-items: center
        background: #F4F4FB
        display: flex
        flex-flow: column
        justify-content: center
        margin-top: 4em
        padding: 3em 4em 6em 4em
        width: 100%
        p
            display: flex
            a
                color: $primary
                margin-left: .5em
                text-decoration: underline
                font-weight: 900
            b
                color: $text
                margin-left: .5em
                font-weight: 900

.modal-content
    border-radius: 30px
    .modal-header
        padding: 1.3em 3em 1em 3em
    .modal-body
        padding: 2em 3em

.faqs-container
    align-items: center
    display: flex
    justify-content: flex-start
    flex-flow: column
    padding: 0 1em
    @media only screen and (max-width: 1035px)
        width: 100%
        .faqs-input-container
            width: 100%
    h2
        margin-top: 1em
        margin-bottom: 1em

    #faqsInput
        border: solid 1px #BDBDBD
        border-radius: 10px
        color: #BDBDBD
        font-family: Arial, Helvetica, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 14px
        padding: .7em
        width: 397px
        @media only screen and (max-width: 1035px)
            width: 100%
    .faqsContent
        text-align: left
        display: flex
        justify-content: center
        padding: 2em 4em 4em 4em
        @media only screen and (max-width: 1035px)
            padding: 1em
        ul
            min-width: 606px
            width: 60%
            list-style-type: none
            @media only screen and (max-width: 1035px)
                padding: 0
                min-width: 100%
                width: 100%
            li
                width: 100%
                .subtitle
                    align-items: center
                    color: #262626
                    display: flex
                    justify-content: flex-start
                    text-align: left
                    font-family: Arial, Helvetica, sans-serif
                    font-style: normal
                    font-weight: normal
                    font-size: 20px
                    line-height: 24px
                    margin: 15px 0
                p
                    justify-content: flex-start
                    text-align: left
                .inner-ul
                    list-style-type: initial
                    @media only screen and (max-width: 1035px)
                        padding-left: 2em
