<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- SEO & Social Meta Tags -->
    {% seo %}
  
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  
    <!-- Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
  </head>